<div style="border-radius: 0 10px 0 0; display: flex; flex-direction: column; flex:1; height:100%">
  <div class="payment-summary__inner-container">
    <nav class="payment-summary-nav">
      <div class="payment-summary-nav__tab payment-summary-nav__tab--active" matRipple>
        <p>Hesaptakiler</p>
      </div>
      <div class="payment-summary-nav__tab" matRipple>
        <p>Tüm Hesap</p>
      </div>
    </nav>
    <div class="content">
      <div class="order">
        <button class="count-minus-button">-</button>
        <div class="count">{{1}}</div>
        <button class="count-increase-button">+</button>
        <div class="label">{{"Köri Soslu Patates Tabağı"}}</div>
        <div class="price">12.00 TRY</div>
        <button class="order-button">
          <svg data-v-6e124401="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 6"
            class="icon" color="currentColor" data-v-7567d650="">
            <g fill="currentColor" fill-rule="evenodd" transform="rotate(90 10.5 11)">
              <circle cx="2.5" cy="11" r="2.5"></circle>
              <circle cx="2.5" cy="3" r="2.5"></circle>
              <circle cx="2.5" cy="19" r="2.5"></circle>
            </g>
          </svg>
        </button>
      </div>
      <div class="order">
        <button class="count-minus-button">-</button>
        <div class="count">{{1}}</div>
        <button class="count-increase-button">+</button>
        <div class="label">{{"Su"}}</div>
        <div class="price">6.00 TRY</div>
        <button class="order-button">
          <svg data-v-6e124401="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 6"
            class="icon" color="currentColor" data-v-7567d650="">
            <g fill="currentColor" fill-rule="evenodd" transform="rotate(90 10.5 11)">
              <circle cx="2.5" cy="11" r="2.5"></circle>
              <circle cx="2.5" cy="3" r="2.5"></circle>
              <circle cx="2.5" cy="19" r="2.5"></circle>
            </g>
          </svg>
        </button>
      </div>
      <div class="order">
        <button class="count-minus-button">-</button>
        <div class="count">{{1}}</div>
        <button class="count-increase-button">+</button>
        <div class="label">{{"Sebze Çorbası"}}</div>
        <div class="price">4.00 TRY</div>
        <button class="order-button">
          <svg data-v-6e124401="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 6"
            class="icon" color="currentColor" data-v-7567d650="">
            <g fill="currentColor" fill-rule="evenodd" transform="rotate(90 10.5 11)">
              <circle cx="2.5" cy="11" r="2.5"></circle>
              <circle cx="2.5" cy="3" r="2.5"></circle>
              <circle cx="2.5" cy="19" r="2.5"></circle>
            </g>
          </svg>
        </button>
      </div>
      <div class="order">
        <button class="count-minus-button">-</button>
        <div class="count">{{1}}</div>
        <button class="count-increase-button">+</button>
        <div class="label">{{"Çay"}}</div>
        <div class="price">10.00 TRY</div>
        <button class="order-button">
          <svg data-v-6e124401="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 6"
            class="icon" color="currentColor" data-v-7567d650="">
            <g fill="currentColor" fill-rule="evenodd" transform="rotate(90 10.5 11)">
              <circle cx="2.5" cy="11" r="2.5"></circle>
              <circle cx="2.5" cy="3" r="2.5"></circle>
              <circle cx="2.5" cy="19" r="2.5"></circle>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__column">
      <div class="title">Toplam tutar</div>
      <div class="amount">25.30 TRY</div>
    </div>
    <div class="footer-seperator"></div>
    <div class="footer__column">
      <div class="title">Ödenen tutar</div>
      <div class="amount">22.00 TRY</div>
    </div>
    <div class="footer-seperator"></div>
    <div class="footer__column">
      <div class="title">Kalan ödeme</div>
      <div class="amount">3.30 TRY</div>
    </div>
  </div>
</div>
