<div class="payment-menu" id="payment-menu">
  <div *ngIf="!(orders?.length! > 0); else hasOrders" class="receive-payment-tab-container">
    <div class="receive-payment-tab-container__inner-empty">
      <svg data-v-ac1a210a="" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 40 88"
        class="icon balloon">
        <g fill="none" fill-rule="evenodd" stroke="#B8C3CA" stroke-width="3">
          <path
            d="M20 48.607c9.941 0 18.122-14.59 18-27.756C38 9.698 29.941 2 20 2S2 8.538 2 20.851c.137 12.872 8.059 27.756 18 27.756z">
          </path>
          <path stroke-linejoin="round" d="M18.757 49h3.395L24 54h-7z"></path>
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M20.597 54c4.395 7.25 1.92 10.13-.767 16-2.053 5.095 0 10.223 2.92 16"></path>
        </g>
      </svg>
      <p style="margin-top:1.25rem">Ödeme almak için hesaptaki ürünlerden seçebilirsiniz.</p>
    </div>
  </div>

  <ng-template #hasOrders>
    <div class="payment-receiver__container">
      <div class="payment-receive-left">
        <div class="payment-receiver__title">Ödenecekler</div>
        <div class="payment-items-container">
          <div class="payment-item">dsadsa</div>
          <div class="payment-item">sadsad</div>
          <div class="payment-item">asdsada</div>
        </div>

        <div class="payment-items-total">
          <div>3 ürün ödenecek</div>
          <div>Toplam: x tl</div>
          <div>
            <button class="button-standard--mat big primary-dark" mat-button>
              Ödeme Al
            </button>
          </div>
        </div>
      </div>
      <div class="payment-receive-right">
        <div class="payment-receiver__title--small">Ödenecekler</div>
      </div>
    </div>
  </ng-template>
</div>
