.payment-summary {
  background: #303236;
}

.payment-summary-nav {
  background: var(--bg-darker);
  background: var(--bg-primary);

  border: 2px solid #42464d;
  display: flex;
  font-size: var(--font-caption);
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;

  &__tab {
    flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: var(--dark-contrast-color);

    position: relative;
    &:hover {
      cursor: pointer;
    }

    & p {
      color: rgba(255, 255, 255, 0.45);
      display: flex;
      align-items: center;
      font-weight: 400;
    }

    &--active {
      background: var(--primary-color-dark) !important;
      color: #fff;
      opacity: 1;
      border-radius: 8px 8px 8px 0px;

      margin: 3px;

      & p {
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.footer-seperator {
  height: calc(100% - 4px);
  position: relative;
  top: 3px;
  width: 2px;
  background: #40444a;
  content: "";
}
.footer {
  color: rgba(255, 255, 255, 0.86);
  margin-top: 1rem;
  margin-bottom: 1rem;
  // background: #393c41;
  border: 3px solid #40444a;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  min-height: 80px;
  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .title {
      opacity: 0.5;
      // font-weight: 100;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      color: #d0d2d8;
    }
    & .amount {
      font-size: var(--font-caption);
      margin-top: 0.5rem;
      font-weight: 500;
    }
  }
}
.payment-summary__inner-container {
  background: var(--bg-primary);
  flex: 1;
  border-radius: 10px;
}

.count-button {
  border: 1px solid #474b52;
  padding: 5px;
  place-items: center;
  border-radius: 50%;
  min-width: 28px;
  background: transparent;
  color: #fff;
  min-height: 28px;
  display: none;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
  }
}

.order {
  color: var(--dark-contrast-color);
  font-weight: 500;
  padding: 10px 15px;
  padding-left: 13px; /*account with transparent border*/
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
    border-left: 2px solid var(--primary-color-dark);
  }

  & .count-increase-button {
    @extend .count-button;
    margin-right: 10px;
  }
  & .count-minus-button {
    @extend .count-button;
  }
  &.edit-mode {
    & .count-increase-button {
      display: grid !important;
    }
    & .count-minus-button {
      display: grid !important;
    }

    & .count {
      margin: 0 0.5ch !important;
    }
  }

  & .order-button {
    background: none;
    border: none;
    margin-left: 2ch;
    color: #666;
    display: grid;
    place-items: center;
    &:hover {
      // color: var(--primary-color);
      color: #fff;
      cursor: pointer;
    }
  }

  & .label {
    flex: 1;
    color: #fff;
    opacity: 0.87;
  }

  & .count {
    padding: 3px;
    border: 1px solid #474b52;
    min-width: 28px;
    min-height: 28px;
    display: grid;
    place-items: center;
    margin-right: 0.5ch;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  & .price {
    // color: var(--primary-color);
    color: #fff;
    opacity: 0.87;
  }

  &:nth-child(n + 1) {
    // background: #36393f;
    border-top: 1px solid #36393f;
  }
  // &:first-of-type {
  //   border-radius: 10px 10px 0px 0px;
  // }
  // &:last-of-type {
  //   border-radius: 0px 0px 10px 10px;
  // }
}
