.receive-payment-tab-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  // color: rgba(255, 255, 255, 0.86);
  color: #949597;
  height: 100%;
  & .tabs {
    overflow: auto;
    display: flex;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__inner-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.payment-menu {
  position: relative;
  // background: #f5f5f5;
  background: var(--bg-primary);
  flex: 1;
  border-radius: 10px;
  box-shadow: -2px -2px 20px 5px rgb(0 0 0 / 5%);
  overflow: hidden;
  grid-area: order-grid-right;
  scroll-snap-align: start;
  @media all and (max-width: 900px) {
    grid-area: order-grid-left;
    order: 1;
    border-radius: 0;
  }
}

.payment-receiver {
  &__container {
    padding: 15px;
    color: rgba(255, 255, 255, 0.86);
    background: #303236;
    margin: 0 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  &__title {
    font-weight: 500;
    font-size: var(--font-title);
    margin-bottom: 1rem;
    &--small {
      @extend .payment-receiver__title;
      font-size: var(--font-caption);
      font-weight: 400;
    }
  }
}

.payment-items-container {
  background: #35373b;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 1.5rem;
}

.payment-receive-left {
}

.payment-receive-right {
}

.payment-items-total {
  & button {
    min-width: 235px;
  }
}
