header {
  height: 65px;
  background: var(--bg-primary);
  display: flex;
  color: var(--dark-contrast);

  & > div {
    flex-basis: 33%;
    max-width: 33%;
    display: flex;
  }

  .left-actions {
    justify-content: flex-start;
  }
  .middle-info {
    justify-content: center;
  }
  .right-actions {
    justify-content: flex-end;
  }
}
