<div class="top-container">
  <div class="panel-top-container">

    <div class="calc-utilities-container">
      <input>
      <div class="calc-utilities">
        <div>1/2</div>
        <div>1/3</div>
        <div>1/4</div>
        <div>1/x</div>
      </div>
    </div>
    <div class="previous-payments">
      <div class="dark-title-small" style="color:#ACADAF; font-weight:bold; font-size:20px;">Ödeme Al</div>
    </div>

  </div>

  <div class="panel-bottom-container">
    <div class="pin-board">
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
      <button>6</button>
      <button>7</button>
      <button>8</button>
      <button>9</button>
      <button>C</button>
      <button>0</button>
      <button>00</button>
    </div>
    <div class="payment-methods">
      <div>
        <button>Kredi kartı</button>
        <button>Nakit</button>
        <button>Ödeme 1</button>
        <button>Ödeme 2</button>
        <button>Ödeme 3</button>
      </div>
    </div>
  </div>

</div>
