header {
  height: 65px;
  background: var(--bg-primary);
  display: flex;
  color: var(--dark-contrast-color);
  padding: 0 15px;
  position: sticky;
  top: 0;

  & > div {
    flex-basis: 33.333%;
    max-width: 33.333%;
    display: flex;
  }

  .left-actions {
    justify-content: flex-start;
  }
  .middle-info {
    justify-content: center;
    align-items: center;
    &__inner {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--font-medium);
      font-weight: 500;
      .logo-container {
        padding-right: 15px;
      }
    }
    &__inner-top {
    }
    &__inner-bottom {
      color: var(--dark-text-color);
    }

    @media all and (max-width: 900px) {
      display: none;
    }
  }
  .right-actions {
    justify-content: flex-end;
    @media all and (max-width: 900px) {
      flex-basis: 66.6%;
      max-width: 66.6%;
    }
  }

  .icon-container {
    color: #a5b2ba;
    margin: 10px 6px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    min-width: 32px;
    padding: 0 6px;
    transition: 0.1s;
    &:hover {
      background: #35383e;
    }

    &--as-text {
      font-weight: bold;
      font-size: var(--font-title);
    }
    &:hover {
      color: #fff;
      cursor: pointer;
    }
    &.mobile {
      justify-content: center;
      @media all and (max-width: 900px) {
        display: block;
        display: flex;
      }
    }
    &.mobile-only {
      justify-content: center;
      @media all and (max-width: 900px) {
        display: block;
        display: flex;
      }
      @media all and (min-width: 900px) {
        display: none !important;
      }
    }

    @media all and (max-width: 900px) {
      display: none;
    }
  }
}

.kuver-popover-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .popover-container {
    padding: 5px;
  }
  &__genders-container {
    margin-bottom: 15px;
  }

  &__line {
    flex: 1;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-of-type {
      padding-top: 0;
    }
    & .left {
      display: flex;
      align-items: center;
      &__name {
        margin-left: 1.5ch;
      }
    }
    & .right {
      display: flex;
      align-items: center;
    }
    & .count {
      margin: 0 10px;
    }
    & .count-minus-button {
      display: block;
      border-color: #e6e6e6;
      color: var(--text-color);
      margin-top: 0;
      &:focus {
        outline: none;
      }
    }
    & .count-increase-button {
      display: block;
      border-color: #e6e6e6;
      color: var(--text-color);
      margin-top: 0;
      margin-right: 0;
      &:focus {
        outline: none;
      }
    }
  }
  &__seperator {
    height: 0.4px;
    background: #e6e6e6;
  }
  & button {
    margin-top: 10px;
  }
}
