<header>
  <div class="left-actions">
    <mde-popover #kuverPopover="mdePopover" mdePopoverPositionY="above">
      <div class="popover-container">
        <div class="popover-container__header--with-padding">
          <div class="popover-container__title">Kuver işlemleri</div>
          <div class="popover-container__close">X</div>
        </div>
        <div class="popover-container__content--with-padding">
          <div class="kuver-popover-content">
            <div class="kuver-popover-content__genders-container">
              <div class="kuver-popover-content__line">
                <div class="left">
                  <img src="assets/svg/Children.svg" width="20">
                  <div class="left__name">Erkek</div>
                </div>
                <div class="right">
                  <button class="count-minus-button">-</button>
                  <div class="count">1</div>
                  <button class="count-increase-button">+</button>
                </div>
              </div>
              <div class="kuver-popover-content__seperator"></div>
              <div class="kuver-popover-content__line">
                <div class="left">
                  <img src="assets/svg/Woman.svg" width="20">
                  <div class="left__name">Kadın</div>
                </div>
                <div class="right">
                  <button class="count-minus-button">-</button>
                  <div class="count">1</div>
                  <button class="count-increase-button">+</button>
                </div>
              </div>
              <div class="kuver-popover-content__seperator"></div>
              <div class="kuver-popover-content__line">
                <div class="left">
                  <img src="assets/svg/Man.svg" width="30">
                  <div class="left__name">Çocuk</div>
                </div>
                <div class="right">
                  <button class="count-minus-button">-</button>
                  <div class="count">1</div>
                  <button class="count-increase-button">+</button>
                </div>
              </div>
              <div class="kuver-popover-content__seperator"></div>
            </div>


            <button mat-stroked-button class="button-standard--mat big primary-dark">Kuver Güncelle</button>
            <button mat-stroked-button class="button-standard--mat big">Müşteri Ekle</button>
          </div>
        </div>
      </div>
    </mde-popover>

    <div class="icon-container mobile" md-button [mdePopoverTriggerFor]="kuverPopover" mdePopoverTriggerOn="click">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 34 34" class="icon">
        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linejoin="round" stroke-width="2">
          <path stroke-linecap="round"
            d="M11.726 6.374c-8.409-2.193-4.512 5.801-8.409 9.902l3.396 1.827c-2.194 1.348-5.906.988-5.705 5.03h3.075">
          </path>
          <path
            d="M7.037 28H24.84c.406-4.349-3.408-4.498-6.234-5.63L20.104 19c1.487-.064 1.566-3.501.232-3.707l.06-1.25c2.574-3.301-2.18-4.885-5.453-3.301-4.524.18-3.792 2.45-3.545 4.527-1.624.573-.706 4.037.335 3.818.102.966.203 1.931 1.325 3.283-5.566.908-6.247 3.146-6.021 5.63z">
          </path>
          <g stroke-linecap="round">
            <path d="M31.015 10.007H25M28.007 7v6.015"></path>
          </g>
        </g>
      </svg>
    </div>

    <div class="icon-container">
      <svg data-v-0aaff528="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon"
        color="currentColor" data-v-7567d650="">
        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linejoin="round" stroke-width="2">
          <path stroke-linecap="round"
            d="M19.7 10.9v4.456L12.08 23H4.3A3.3 3.3 0 0 1 1 19.7V7.6a3.3 3.3 0 0 1 3.3-3.3h8.873"></path>
          <path d="M19.7 15.356h-5.42a2.2 2.2 0 0 0-2.2 2.2V23"></path>
          <g stroke-linecap="round">
            <path d="M22.715 4.307H16.7M19.707 1.3v6.015"></path>
          </g>
        </g>
      </svg>
    </div>


  </div>
  <div class="middle-info">
    <div class="middle-info__inner">
      <div class="logo-container">
        <svg data-v-4ac10152="" xmlns="http://www.w3.org/2000/svg" width="40" height="31" viewBox="0 0 52 47"
          class="icon" color="currentColor">
          <g fill="currentColor" fill-rule="nonzero">
            <path
              d="M6.34 29.687l32.628-8.743.82 3.06c1.993 7.439-2.4 15.08-9.811 17.065l-19.209 5.147C6.221 47.435 1.543 44.722.32 40.158c-1.223-4.565 1.473-9.253 6.02-10.471zM45.213 16.97l-32.629 8.742-.82-3.06c-1.993-7.439 2.4-15.08 9.811-17.065L40.783.44c4.548-1.219 9.226 1.494 10.45 6.058 1.222 4.565-1.473 9.253-6.02 10.472z">
            </path>
          </g>
        </svg>
      </div>
      <div>
        <div class="middle-info__inner-top">11.09.2021 - 01:49 - <svg data-v-4ac10152=""
            xmlns="http://www.w3.org/2000/svg" width="27" height="12" viewBox="0 0 72 32" class="icon" title="100%"
            level="100" color="#3BC0A2">
            <path fill="#fff" opacity="0.4"
              d="M57.333 0c4.043 0 6.667 2.624 6.667 6.667v17.333c0 4.043-2.624 6.667-6.667 6.667h-50.667c-4.043 0-6.667-2.624-6.667-6.667v-17.333c0-4.043 2.624-6.667 6.667-6.667h50.667zM57.067 2.667h-50.133c-2.445 0-4.077 1.499-4.251 3.843l-0.016 0.424v16.8c0 2.445 1.499 4.077 3.843 4.251l0.424 0.016h50.133c2.445 0 4.077-1.499 4.251-3.843l0.016-0.424v-16.8c0-2.587-1.68-4.267-4.267-4.267zM66.667 10c2.667 0.445 4 2.221 4 5.333s-1.333 4.888-4 5.333z">
            </path>
            <rect x="7%" y="17%" width="75%" height="64%" fill="#3BC0A2" rx="3"></rect>
          </svg>
        </div>
        <div class="middle-info__inner-bottom">LAPTOP-QD6ALGEP (93812) - Fastfood</div>
      </div>
    </div>


  </div>
  <div class="right-actions">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" class="icon"
        color="currentColor" data-v-7567d650="">
        <g fill="none" fill-rule="evenodd">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19.7 8.9v4.456L12.08 21H4.3A3.3 3.3 0 0 1 1 17.7V5.6a3.3 3.3 0 0 1 3.3-3.3h8.873"></path>
          <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
            d="M19.7 13.356h-5.42a2.2 2.2 0 0 0-2.2 2.2V21"></path>
          <path fill="#F97C70" d="M19 0a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path>
        </g>
      </svg>
    </div>

    <div class="icon-container">
      <svg data-v-37ee0445="" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 31 32" class="icon"
        color="currentColor" data-v-7567d650="">
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.6667"
          d="M8 1.333h17.333c2.209 0 4 1.791 4 4v21.333c0 2.209-1.791 4-4 4h-17.333c-2.209 0-4-1.791-4-4v-21.333c0-2.209 1.791-4 4-4z">
        </path>
        <path fill="currentColor"
          d="M1.333 6.667h5.333c0.736 0 1.333 0.597 1.333 1.333s-0.597 1.333-1.333 1.333h-5.333c-0.736 0-1.333-0.597-1.333-1.333s0.597-1.333 1.333-1.333z">
        </path>
        <path fill="currentColor"
          d="M1.333 17.333h5.333c0.736 0 1.333 0.597 1.333 1.333s-0.597 1.333-1.333 1.333h-5.333c-0.736 0-1.333-0.597-1.333-1.333s0.597-1.333 1.333-1.333z">
        </path>
        <path fill="currentColor"
          d="M1.333 12h5.333c0.736 0 1.333 0.597 1.333 1.333s-0.597 1.333-1.333 1.333h-5.333c-0.736 0-1.333-0.597-1.333-1.333s0.597-1.333 1.333-1.333z">
        </path>
        <path fill="currentColor"
          d="M1.333 22.667h5.333c0.736 0 1.333 0.597 1.333 1.333s-0.597 1.333-1.333 1.333h-5.333c-0.736 0-1.333-0.597-1.333-1.333s0.597-1.333 1.333-1.333z">
        </path>
        <path fill="currentColor"
          d="M17.333 10.667c0.736 0 1.333 0.597 1.333 1.333v8c0 0.736-0.597 1.333-1.333 1.333s-1.333-0.597-1.333-1.333v-8c0-0.736 0.597-1.333 1.333-1.333z">
        </path>
        <path fill="currentColor"
          d="M22.667 16c0 0.736-0.597 1.333-1.333 1.333h-8c-0.736 0-1.333-0.597-1.333-1.333s0.597-1.333 1.333-1.333h8c0.736 0 1.333 0.597 1.333 1.333z">
        </path>
      </svg>
    </div>
    <div class="icon-container">
      <svg data-v-78da2ac7="" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 32 32" class="icon"
        color="currentColor" data-v-7567d650="">
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M8.348 4.87c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M19.478 4.87c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M30.609 4.87c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M8.348 16c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M19.478 16c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M19.478 27.13c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="2.7826"
          d="M30.609 16c0 1.921-1.557 3.478-3.478 3.478s-3.478-1.557-3.478-3.478c0-1.921 1.557-3.478 3.478-3.478s3.478 1.557 3.478 3.478z">
        </path>
      </svg>
    </div>


    <div class="icon-container ">
      <svg data-v-7132d7f2="" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 30 32" class="icon"
        color="currentColor" data-v-7567d650="">
        <path fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
          stroke-width="3.3684"
          d="M21.895 11.789c0 5.581-4.524 10.105-10.105 10.105s-10.105-4.524-10.105-10.105c0-5.581 4.524-10.105 10.105-10.105s10.105 4.524 10.105 10.105z">
        </path>
        <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
          stroke-width="3.3684" d="M18.526 19.368l10.105 10.947"></path>
      </svg>
    </div>

    <div class="icon-container  mobile-only">
      <svg data-v-e7920368="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 21 6" class="icon"
        color="currentColor" data-v-7567d650="">
        <g fill="currentColor" fill-rule="evenodd" transform="rotate(90 10.5 11)">
          <circle cx="2.5" cy="11" r="2.5"></circle>
          <circle cx="2.5" cy="3" r="2.5"></circle>
          <circle cx="2.5" cy="19" r="2.5"></circle>
        </g>
      </svg>


    </div>

    <div class="icon-container icon-container--as-text mobile">AL</div>


  </div>

</header>
