<div class="subgroup-container">
  <div *ngFor="let subgroup of productGroup.subgroup; let subgroupIndex = index">
    <div class="product-subgroup"
      [ngClass]="{'product-subgroup--in-active-tab': index === activeIndex , 'product-subgroup--active': subgroupIndex === activeSubgroup}">
      {{subgroup.name}}
    </div>
  </div>
</div>

<div *ngFor="let subgroup of productGroup.subgroup; let subgroupIndex = index" style="width:100%">
  <!-- "subgroupActiveIndex" -->
  <div class="product-subgroup-content" [ngClass]="{'product-subgroup-content--in-active-tab': index === activeIndex}">
    <div *ngFor="let subgroupItem of subgroup?.items" class="subgroup-item">
      <div class="subgroup-item__name">{{subgroupItem.name}}</div>
      <div class="subgroup-item__price">{{formatMoney(subgroupItem.price)}} TL</div>
      <div class="subgroup-item__actions">...</div>
    </div>
  </div>
</div>
