<div class="subgroup-container">
  <div *ngFor="let subgroup of productGroup.subgroup; let subgroupIndex = index">
    <div class="product-subgroup"
      [ngClass]="{'product-subgroup--in-active-tab': index === activeIndex , 'product-subgroup--active': subgroupIndex === activeSubgroup}">
      {{subgroup.name}}
    </div>
  </div>
</div>

<div *ngFor="let subgroup of productGroup.subgroup; let subgroupIndex = index">
  <!-- "subgroupActiveIndex" -->
  <div class="product-subgroup-content" [ngClass]="{'product-subgroup-content--in-active-tab': index === activeIndex}">
    <div *ngFor="let subgroupItem of subgroup?.items">
      <div class="subgroup-item">{{subgroupItem.name}}</div>
    </div>
  </div>
</div>
