.product-subgroup {
  font-size: var(--font-normal);
  background: #fff;
  border-radius: 10px;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  display: none;
  margin-right: 0.75rem;

  &:hover {
    cursor: pointer;
    border-color: var(--primary-color);
  }

  &--active {
    color: var(--dark-contrast-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
  &--in-active-tab {
    display: flex !important;
  }
}

.subgroup-container {
  display: flex;
  width: 100%;
}

.product-subgroup-content {
  display: none;
  width: 100%;
  margin-top: 0.75rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
}

.product-subgroup-content--in-active-tab.subgroup-item--in-active-subgroup {
  display: grid !important;
}

.subgroup-item {
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  transition: 0.15s;
  // width: max(20%, 200px);

  &__name {
    font-size: var(--font-caption);
    color: var(--bg-primary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: var(--font-normal);
    color: var(--primary-color);
    font-weight: bold;
  }

  &__actions {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &:hover {
    cursor: pointer;
    // background: #f8f8f8;
    border-color: #e6e6e6;
    transform: translateY(-5px);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
  }
}

.variant-button:hover {
  border-radius: 10px;
  transform: scale(1.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 0.05s;
}

.variant-button {
  border: 1px solid #fff;
  border-radius: 10px;
  & svg {
    border-left: 0.1px solid #fff;
    border-top: 0.1px solid #fff;
    border-radius: 10px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
