<div class="orders-top-container">
  <div class="order-summary--empty">

    <div class="order-summary--empty-content">
      <svg data-v-3a6d21d1="" data-v-d8765bb4="" xmlns="http://www.w3.org/2000/svg" width="135" height="142"
        viewBox="0 0 135 143" class="icon">
        <g data-v-3a6d21d1="" fill="none" fill-rule="evenodd">
          <g data-v-3a6d21d1="" id="face" transform="translate(0 45)">
            <circle data-v-3a6d21d1="" cx="49" cy="49" r="49" fill="#334650"></circle>
            <g data-v-3a6d21d1="" id="uzuv" transform="translate(28 25)" class="face">
              <path data-v-3a6d21d1="" id="faceLine" stroke="#4F616A" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M12.48.56C7.41-.933 3.25.56 0 5.04M50.028.56c5.068-1.493 9.228 0 12.479 4.48M24.755 31.538c3.428-2.409 11.752-2.031 14.798 0">
              </path>
              <ellipse data-v-3a6d21d1="" id="leftEye" cx="8.028" cy="14.38" fill="#4F616A" rx="4" ry="4.5"></ellipse>
              <ellipse data-v-3a6d21d1="" id="rightEye" cx="54.028" cy="14.38" fill="#4F616A" rx="4" ry="4.5"></ellipse>
            </g>
          </g>
          <g data-v-3a6d21d1="" id="shine" stroke="#4F616A" transform="translate(4 24)">
            <g data-v-3a6d21d1="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path data-v-3a6d21d1="" d="M6.015 13.007H0M3.007 10v6.015"></path>
            </g>
            <g data-v-3a6d21d1="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6">
              <path data-v-3a6d21d1="" d="M14.201 21.068L10.8 17.666M14.201 17.666L10.8 21.068"></path>
            </g>
            <circle data-v-3a6d21d1="" cx="10.5" cy="2.5" r="2.5" stroke-width="1.6"></circle>
          </g>
          <g data-v-3a6d21d1="" id="bubble" stroke="#475860" stroke-width="2" class="bubble">
            <path data-v-3a6d21d1="" fill="#30424B"
              d="M116 47.607c9.941 0 18.122-14.59 18-27.756C134 8.698 125.941 1 116 1S98 7.538 98 19.851c.137 12.872 8.059 27.756 18 27.756z">
            </path>
            <path data-v-3a6d21d1="" stroke-linejoin="round" d="M114.757 48h3.395L120 53h-7z"></path>
            <path data-v-3a6d21d1="" stroke-linecap="round" stroke-linejoin="round"
              d="M116.597 53c4.395 7.25 1.92 10.13-.767 16-2.053 5.095 0 10.223 2.92 16"></path>
          </g>
        </g>
      </svg>
      <p>Şu an yeni bir sipariş bulunmamakta.</p>
    </div>

  </div>
  <div class="order-menu">


  </div>
</div>
