.orders-top-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "order-grid-left order-grid-right";
  height: calc(100vh - 65px);
  background: var(--bg-primary);

  @media all and (max-width: 900px) {
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 1fr 55px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & > div {
    padding: 10px;
  }
}
.order-grid-left {
  grid-area: order-grid-left;
}
.order-grid-right {
  grid-area: order-grid-right;
}

.order-summary {
  grid-area: order-grid-left;
  scroll-snap-align: start;

  @media all and (max-width: 900px) {
    grid-area: order-grid-right;
    order: 2;
  }
}

.order-summary--empty {
  display: flex;
  justify-content: center;
  align-items: center;

  & .face {
    transform: translate(17px, 33px);
    animation: face-animation 3s ease-out 0.5s infinite;
  }
}
.order-summary--empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    color: var(--dark-text-color);
    margin-top: 1rem;
    user-select: none;
  }
  & svg {
    position: relative;
    left: 20px;
  }
}

.order-menu {
  position: relative;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: -2px -2px 20px 5px rgb(0 0 0 / 5%);
  overflow: hidden;
  grid-area: order-grid-right;
  scroll-snap-align: start;
  @media all and (max-width: 900px) {
    grid-area: order-grid-left;
    order: 1;
  }
}

@keyframes face-animation {
  0% {
    transform: translate(17px, 33px);
  }
  20% {
    transform: translate(28px, 25px);
  }
  30% {
    transform: translate(17px, 33px);
  }
  45% {
    transform: translate(28px, 25px);
  }
  60% {
    transform: translate(17px, 33px);
  }
  to {
    transform: translate(17px, 33px);
  }
}

.product-group-tab-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25rem;

  & .tabs {
    display: flex;
    width: 100%;
  }
}

.mobile-bottom-menu {
  display: flex;
  height: 55px;
  /* fix */
  position: fixed;
  bottom: 0;
  width: 100vw;

  .menu-tab {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #8fa1ac;
    position: relative;

    &--active {
      color: var(--primary-color);

      & .active-dot-container {
        display: flex !important;
      }
    }
    .active-dot-container {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      display: none;
    }

    .active-dot {
      background: var(--primary-color);
      border-radius: 50%;
      position: absolute;
      width: 5px;
      height: 5px;
      top: -3px;
    }
  }

  @media all and (min-width: 900px) {
    display: none;
  }
}
