@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-bold-webfont.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: brandon, sans-serif;
}

:root {
  --bg-primary: #2f3f47;
  --dark-contrast-color: #fff;
  --dark-text-color: #a5b2ba;
  --light-contrast-color: #000;

  --font-medium: 0.825rem;
  --font-normal: 1rem;
  --font-title: 1.25rem;
}
