@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-bold-webfont.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: brandon;
  src: url(assets/fonts/brandontext-medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: brandon, sans-serif;
  user-select: none; /*TODO remove*/
}

:root {
  --bg-primary: #2f3f47;
  --bg-darker: #243138;
  --dark-contrast-color: #fff;
  --dark-text-color: #a5b2ba;
  --light-contrast-color: #000;
  --light-text-color-darker: #808080;
  --primary-color: #ec9c3b;
  --font-medium: 0.825rem;
  --font-normal: 1rem;
  --font-caption: 1.125rem;
  --font-title: 1.25rem;
  --font-big: 1.5rem;
  --font-bigger: 2rem;
  --font-huge: 2.5rem;
  --font-even-bigger: 3rem;

  max-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1f2a30;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
