.order-summary {
  grid-area: order-grid-left;
  scroll-snap-align: start;

  @media all and (max-width: 900px) {
    grid-area: order-grid-right;
    order: 2;
  }

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .face {
      transform: translate(17px, 33px);
      animation: face-animation 3s ease-out 0.5s infinite;
    }
  }

  &--has-orders {
    padding: 0 10px;
  }
}

.order-summary--empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    color: var(--dark-text-color);
    margin-top: 1rem;
    user-select: none;
  }
  & svg {
    position: relative;
    left: 20px;
  }
}

.order-summary-nav {
  background: var(--bg-darker);
  display: flex;
  border-radius: 10px;
  font-size: var(--font-caption);
  margin-bottom: 10px;

  &__tab {
    flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: var(--dark-contrast-color);

    &--active {
      background: var(--dark-contrast-color);
      color: var(--light-contrast-color);
      border-radius: 10px;
    }
  }
}
