.orders-top-container {
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "order-grid-left order-grid-right";
  height: calc(100vh - 65px);
  overflow: hidden;
  background: var(--bg-primary);

  @media all and (max-width: 900px) {
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 1fr 55px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & > div {
    padding: 10px;
  }
}
.order-grid-left {
  grid-area: order-grid-left;
}
.order-grid-right {
  grid-area: order-grid-right;
}

.payment-summary__container {
  background: #303236;
  border-radius: 0 10px 0 0;
  display: flex;
  flex-direction: column;
}
